<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connection" connectionString="Data Source =AIN-MSSRV\TASQLEXPRESS;Initial Catalog=Inventario;uid=sa;pwd=TANet001"
      providerName="System.Data.SqlClient" />
    <add name="Inventario.Properties.Settings.InventarioConnectionString"
      connectionString="Data Source=192.168.128.199;Initial Catalog=Inventario;User ID=sa;Password=dbAin1"
      providerName="System.Data.SqlClient" />
    <add name="Inventario.Properties.Settings.InventarioConnectionString1"
      connectionString="Data Source=AIN-MSSRV\TASQLEXPRESS;Initial Catalog=Inventario;Persist Security Info=True;User ID=sa;Password=TANet001"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
